<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>세마고 과학실 물품과학시스템</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WH9E1MYSDD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WH9E1MYSDD');
</script>
</head>
<body>
    <div class="header-top">
        <a href="/"><div>
            <img src = "/resources/logo.png" height="80">
        </div></a>
    </div>
    <div style="margin: 10px;">
        <div style="padding: 5px;">
 
                <div>
                    <div style="font-weight: bold; font-size: 20px;">물품 사용 명단</div>
                    
                    <div style="font-size: 13px; color : rgb(102,89,89);">담당자 : 관리자</div>
                </div>
                <br/>
            
                <div id="banner" style=" text-align: center; border:2px solid green; width: 300;border-radius: 5px;
                
                "><div style="font-weight: bolder;  font-size: xx-large;"><%= usr.length %></div><div style="font-size: smaller; margin-bottom: 3px;">사용중</div></div>
                
      
            <hr/>
        <div class="htmlbody">
            <div>
                
                <div>
                    <% for(var i =data.length-1; i >= 0;i--) { %>
                        
                            
                                
                                <% for(var j = usr.length-1;j>=0;j--){
                                    if(data[i]._id == usr[j].pid){ %>
                                        <div id="col2style" style="padding: 10px;
                                        background-image: url('/resources/<%=data[i].type %>.png');
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-position: center right;
                                        cursor: pointer;
                                        margin-bottom: 2px;
                                        
                                        " onclick="location.href = '/items/'+ <%= data[i]._id %>">
                                            <span class = "li-title" style="font-size: large;"><%= data[i].title %> | </span>
                                            <span class="li-title"><%= usr[j].user %></span> 
                                            <span class="li-detail"><%= usr[j].detail %></span> 
                               
                                            
                                            <span class="li-detail" style="font-size: x-small;"><%= usr[j].time %></span> 
                                            <button class="btn btn-danger delusr"  data-id="<%= usr[j]._id%>">사용완료</button>
                                            
                                            </div>
                                        <% } %>
                            <% } %>
                                
                            
    
                       
                    <% } %>
                </div>
                
            </div>


            </div>
        
        
        
        </div>
            
           <hr/>
        </div>
        
        
        


        <br/>
    </div>
    
    
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    $('.delusr').click(function(e){
        let check = prompt("전화번호를 입력해주세요 (- 제외)")
        var regExp = /^\d{2,3}\d{3,4}\d{4}$/;
        if(!regExp.test(check)){
            alert('전화번호 형식이 아닙니다.')
        }
        else{
            $.ajax({
            method : 'DELETE',
            url : '/members',
            data : {
                id : e.target.dataset.id,
                check : check
            }
        }).done(function(rst){
            if(rst == 200){
                alert("사용 종료하였습니다, 물품을 제자리에 놔주세요")
                location.href='/members'
            }
            else{
                alert('전화번호가 다릅니다. 문의: 자연과학부')
            }
        })
        }
        
    })  
</script>

</html>