<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>세마고 과학실 물품과학시스템</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WH9E1MYSDD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WH9E1MYSDD');
</script>
</head>
<body>
    <br/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <div class="header-top">
        <a href="/"><div>
            <img src = "/resources/logo.png" height="80">
        </div></a>
    </div>

    <div class="header-top">
        <button style="margin-top: 4px;" type="button" class="btn btn-outline-dark" onclick="location.href='/newton'">뉴턴실</button>
        <button style="margin-top: 4px;" type="button" class="btn btn-outline-primary" onclick="location.href='/curie'">퀴리실</button>
        <button style="margin-top: 4px;" type="button" class="btn btn-outline-info" onclick="location.href='/darwin'">다윈실</button>
        <button style="margin-top: 4px;" type="button" class="btn btn-outline-success" onclick="location.href='/kepler'">케플러실</button>
        <button style="margin-top: 4px;" type="button" class="btn btn-outline-warning" onclick="location.href='/resource'">리소스실</button>


        
    </div>
    <div style ="margin: 15px;">
        <ul class="list-group">

                <li  id = "banner"style=" cursor: pointer; border:1px solid blue; width: 300;border-radius: 5px;margin-bottom : 3px;" class = "list-group-item" onclick="location.href = '/members'" >
                <div class="li-title" style="font-weight: normal;">🔔 물품 사용 명단</div> 
            </li>
        </ul>
    </div>
    <div style ="margin: 15px;">
        <ul class="list-group">
            <% for(var i =adm.length-1; i >= 0;i--) { %>
                <li  id = "banner"style=" cursor: pointer; border:1px solid red; width: 300;border-radius: 5px;margin-bottom : 3px;" class = "list-group-item" onclick="location.href = '/items/'+ <%= adm[i]._id %>" >
                <div class="li-title" style="font-weight: normal;">📢 <%= adm[i].title %></div> 
                
            </li>
            <% } %>
        </ul>
    </div>
    <div style ="margin: 15px;overflow:scroll; height: 60%;">
        <ul class="list-group">

            <% for(var i =data.length-1; i >= 0;i--) { %>
                <% if(data[i].type == "admin") continue %>
                <li  id = "banner" class = "list-group-item libanner" onclick="location.href = '/items/'+ <%= data[i]._id %>" >
                    <div>
                        <span class="li-title"><%= data[i].title %></span> 
                        <span class="li-detail"><span>
                            <% if( data[i].type == "newton") { %> 
                                뉴턴실
                            <%}%>
                            <% if( data[i].type == "curie") { %> 
                                퀴리실
                            <%}%>
                            <% if( data[i].type == "darwin") { %> 
                                다윈실
                            <%}%>
                            <% if( data[i].type == "kepler") { %> 
                                케플러실
                            <%}%>  
                            <% if( data[i].type == "resource") { %> 
                                리소스실
                            <%}%>   
                            
                            
                            <%=data[i].place %></span> |
                            <% if ( data[i].number - data[i].usenum  >0 ) {%> 
                                
                                <span style="color: rgb(11, 187, 11);">현재 사용 가능</span> <% }%>
                            <% if( data[i].number - data[i].usenum  <=0){ %> 
                                
                                <span style="color: red;">현재 사용 불가능</span> <% }%>
                            </span> 
                    </div>
                
                    
            </li>
            <% } %>
        </ul>
        

</div>
<div style="margin-left: 15%;margin-right: 15%;margin-top: 1%;">
    <div class="input-group"> 
        <input type="text" id="search-input" list="option" class="form-control" ><button id="search" class="btn btn-outline-danger" >검색</button>
        <datalist id="option">
            <% for(var i =datas.length-1; i >= 0;i--) { %>
                <option  value=<%= datas[i].title %>></option>
                <% } %>
      </datalist>
    </div>
</div>
<div style="text-align: center; margin: 5px;"> 
    <button style="margin-top: 4px;" type="button" class="btn btn-primary" onclick="location.href='/items'">물품추가</button>
    <button style="margin-top: 4px;" type="button" class="btn btn-danger" onclick="location.href='/notices'">공지사항 추가</button>
</div>
<br>
<hr style="color:  gainsboro;"/>

<div>
    <p style="font-size: x-small; text-align: center;color: gainsboro;">Copyright ⓒ 2022 jinhyuk All rights reserved.</p>
</div>

    

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    $('#search').click(function(){
        var ipt = $('#search-input').val();
        window.location.replace('/search?value='+ipt)
    })
</script>
</html>